body {
  box-sizing: border-box;
  background: #333;
  --primary-color: rgb(226, 152, 15);
  --secondary-color: #f8f8b3;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--secondary-color);
}
body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #9b6602;
}

.container {
  height: auto;
  display: flex;
  flex: 0 0 100%;
  max-width: 80%;
  margin: 0 auto;
  flex-direction: column;
}
.container .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .header__title > h1 {
  color: var(--secondary-color);
  font-size: 50px;
}
.container .header__title > h1 span {
  color: var(--primary-color);
}
.container .header__search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.container .header__search-field {
  width: 200px;
  height: 25px;
  background: transparent;
  font-size: 20px;
  color: var(--secondary-color);
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  margin-right: 10px;
  border-bottom: 1px solid var(--secondary-color);
}
.container .header__search-field::placeholder {
  color: #c9c9ad;
}
.container .header__search-sort .select-values {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  background: transparent;
  border-radius: 50px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
.container .header__search-button {
  background: transparent;
  border-color: var(--primary-color);
  border-radius: 50%;
  border: none;
  color: var(--primary-color);
  font-size: 20px;
  padding: 5px 6px;
  cursor: pointer;
}
.container .header__sort {
  color: var(--primary-color);
  font-size: 17px;
}
.container .box {
  box-shadow: 10px solid black;
  width: 100%;
  height: 100%;
  background: #535353;
  border: medium solid var(--secondary-color);
}
.container .button {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.container .button__more, .container .button__show-cards {
  font-size: 25px;
  padding: 15px 30px;
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.container .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 40px;
  justify-items: center;
  align-items: center;
}
.container .content__info {
  font-size: 30px;
  font-weight: 800;
  text-transform: none;
  color: var(--secondary-color);
}
.container .content .card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin: 0px;
}
.container .content .card__header .card__title {
  display: flex;
  justify-items: flex-start;
  color: var(--secondary-color);
}
.container .content .card__header .card__number {
  display: flex;
  justify-items: flex-end;
  color: var(--secondary-color);
}
.container .content .card__image {
  width: 250px;
}
.container .content .card__details {
  font-size: 18px;
  color: #d36601;
  margin: 0px;
}
.container .content .card__details > p {
  margin: 0px;
}
.container .content .card .bold {
  font-weight: 900;
}
.container .hide {
  display: none;
}
.container .loader,
.container .loader:before,
.container .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.container .loader {
  color: #d17e12;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.container .loader:before, .container .loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.container .loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.container .loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}