body {
  box-sizing: border-box;
  background: #333;
  --primary-color: rgb(226, 152, 15);
  --secondary-color: #f8f8b3;
}

.container {
  height: auto;
  display: flex;
  flex: 0 0 100%;
  max-width: 80%;
  margin: 0 auto;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__title > h1 {
  color: var(--secondary-color);
  font-size: 50px;
}
.header__title > h1 h1 > span {
  color: var(--primary-color);
}
.header__search {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}

#header__search-field {
  width: 200px;
  height: 30px;
  background: var(--primary-color);
  font-size: 20px;
  color: var(--secondary-color);
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
}

.box {
  box-shadow: 10px solid black;
  width: 100%;
  height: 100%;
  background: #535353;
  border: medium solid var(--secondary-color);
}

.button {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.button__more {
  font-size: 25px;
  padding: 25px 45px;
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .card .card__header {
  display: flex;
  align-items: center;
}